pipeline/orderblobprocessor.json
{
	"name": "orderblobprocessor",
	"properties": {
		"activities": [
			{
				"name": "load processable blob",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlobs]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "blobmetadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "iterate processable blob",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "load processable blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('load processable blob').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "prepare dls traget folder",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "dlstargetproviderfunction",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json",
									"Accept": "application/json"
								},
								"body": {
									"value": "@concat('{\"blobPath\":\"', item().Path, '\", \"blobName\":\"', item().BlobName, '\"}')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "dlsfolderproviderfunction",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy blob storage to dls",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "prepare dls traget folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "orderid",
												"type": "Int32",
												"physicalType": "String"
											},
											"sink": {
												"name": "orderid",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "orderdate",
												"type": "DateTime",
												"physicalType": "String"
											},
											"sink": {
												"name": "orderdate",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "customer",
												"type": "Int64",
												"physicalType": "String"
											},
											"sink": {
												"name": "customer",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "product",
												"type": "Int64",
												"physicalType": "String"
											},
											"sink": {
												"name": "product",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "units",
												"type": "Int64",
												"physicalType": "String"
											},
											"sink": {
												"name": "units",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "billingaddress",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "billingaddress",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "remarks",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "remarks",
												"type": "String",
												"physicalType": "UTF8"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "orderblobstoragedataset",
									"type": "DatasetReference",
									"parameters": {
										"containerName": {
											"value": "@activity('prepare dls traget folder').output.containerName",
											"type": "Expression"
										},
										"folder": {
											"value": "@activity('prepare dls traget folder').output.path",
											"type": "Expression"
										},
										"fileName": {
											"value": "@activity('prepare dls traget folder').output.blobName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "organizedorderdlsdataset",
									"type": "DatasetReference",
									"parameters": {
										"fileSystemName": "organized-data",
										"folder": {
											"value": "@activity('prepare dls traget folder').output.targetOrganizedFullPath",
											"type": "Expression"
										},
										"fileName": {
											"value": "@activity('prepare dls traget folder').output.targetOrganizedFileName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "update blob metadata",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy blob storage to dls",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[uspUpdateBlobMetadata]",
								"storedProcedureParameters": {
									"dlsLocation": {
										"value": {
											"value": "@concat(activity('prepare dls traget folder').output.targetOrganizedFullPath,'/',activity('prepare dls traget folder').output.targetOrganizedFileName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"recordId": {
										"value": {
											"value": "@item().RecordId",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "azuretrainingdatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"annotations": []
	}
}